.div-accueil {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .home {
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: 0.5s;
    z-index: -2;

    .div-home {
      min-height: 100vh;
      width: 100%;
      padding: 20px 20px 50px 20px;

      .description-title {
        font-size: 18px;
        margin: 10px 0 4px 0;
        animation-duration: 1.7s;
        animation-name: moveDown300px;
        animation-direction: alternate-reverse;
      }

      .main-title {
        font-family: 'COCOGOOSE', sans-serif;
        font-size: 1.9rem;
        font-weight: bold;
        margin: 2% 0;
        text-transform: uppercase;
      }

      .home-content {
        border: 4px solid white;
        padding: 4%;
        background: white;
        margin: 15px 0;
      }

      .date {
        font-family: 'COCOGOOSE', sans-serif;
        font-size: 1.5rem;
        margin: 4% 0;
      }
    }
  }
}
