@import url('https://fonts.cdnfonts.com/css/gill-sans');

$main-color: #0072bc;

.div-accueil {
  padding-top: 3.3rem;

  .home {
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: 0.5s;
    z-index: -2;

    .div-home {
      width: 100%;
      padding: 10px 0 0 0;
    }
  }
}

@media (min-width: 992px) {
  .div-accueil {
    padding-top: 2.9rem;
  }
}
