#footer {
  background-image: url("../images/black-brick-bd.jfif");
  margin: 0;
  padding: 10px 40px;

  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .contact-info,
    .social-media {
      flex: 1;
    }

    .social-media {
      text-align: center;
    }

    h4 {
      margin-bottom: 10px;
      color: #f5f5f5;
    }

    .social-icons {
      a {
        font-size: 24px;
        margin-right: 15px;
        color: #f5f5f5;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }

      a.facebook:hover {
        color: #1877f2;
      }

      a.youtube:hover {
        color: #f00;
      }
    }

    .whatsapp span {
      text-decoration: none;
    }
  }

  .social-media h4 {
    margin-top: 0;
  }

  .contact-info p {
    margin: 0;
  }

  .mail:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .whatsapp:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .footer-content span {
    color: #fff;
  }

  .copyright p {
    text-align: center;
    color: white !important;
    padding: 0;
    margin: 0 !important;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #footer {
    .footer-content {
      flex-direction: column !important;
      text-align: center;
      padding: 15px;
      gap: 20px;
    }

    .social-icons {
      margin-top: 15px;
    }
  }
}
