.custom-toggler.navbar-toggler {
  border: 2.5px solid rgb(29, 155, 240);
}

.custom-toggler.navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgb(29, 155, 240);
}

.custom-toggler .navbar-toggler-icon {
  background-image:
    url(
      "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(29, 155, 240)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
    );
}
