.programmes {
  padding: 5rem 5%;
  background: #345C86;
  min-height: 100vh;
  color: white;
  text-align: center;

  .programme-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;

    .programme-item {
      width: 300px;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
    }
  }
}
