$main-color: #0072bc;

.slider {
  width: 100vw;
  height: 95vh;
  position: relative;
  overflow: hidden;

  img {
    width: unset;
    height: 150%;
    padding-left: 0;
    transform: translateX(-32%);
    animation: trans 15s;
    display: inherit;
  }

  .main-title {
    position: absolute;
    color: $main-color;
    margin: 0;
    padding: 6px 0 2px 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Gill Sans, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.content {
  position: absolute;
  top: 40%;
  left: 0;
  margin: auto 5rem;
  padding: 1rem 2rem;
  transform: translateY(-50%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.45);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  border-radius: 10px;

  h2 {
    font-family: Gill Sans, sans-serif;
  }
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 20rem;
  }

  100% {
    visibility: visible;
    top: 70%;
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.current .content {
  opacity: 1;
}

.arrow {
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
  z-index: 9;
}

.arrow:hover {
  color: $main-color;
  border-color: white;
  background: white;
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.2, 1.2);
  }
}

@keyframes trans {
  from {
    transform: translateX(-25%) scale(1, 1);
  }

  to {
    transform: translateX(-40%) scale(1.15, 1.15);
  }
}

@media (min-width: 992px) {
  .content {
    right: 0;
    width: 65%;
    margin: auto;
  }

  .slider {
    img {
      width: 100%;
      height: unset;
      padding-top: 0;
      display: block;
      margin: 0 auto;
      transform: translateX(0);
      animation: zoom 15s;
    }

    .main-title {
      font-size: 2.5rem;
      background: rgba(255, 255, 255, 0.9);
      font-weight: 600;
      margin: 0;
    }

    .content {
      p {
        font-size: 1.1rem;
        font-weight: 100;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  .next {
    right: 5%;
  }

  .prev {
    left: 5%;
  }

  @keyframes slide-up {
    100% {
      top: 80%;
    }
  }
}

@media (max-width: 474px) {
  .slider {
    img {
      height: 95vh;
    }
  }

  .content {
    margin: auto 2rem;
  }
}
